:root {
    --text-color: #667085;
    --title-color: #101828;
    --main-color: #8E2424;
    --basic-color: #F0F0F0;
}

body {
    background-color: var(--basic-color);
}

/* Cabeçalho */
header {
    width: 100%;
    height: 10vh;
}

.container-nav {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-list {
    display: flex;
    width: 100%; 
    max-width: 60vh;
    justify-content: space-around;
}

.login-cadastrar {
    max-width: 25vh;
}

.list-items a {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    line-height: 24px;
    list-style: none;
}

.btn a {
    font-size: 16px;
    line-height: 24px;
    color: var(--basic-color);
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.btn-prim a {
    color: var(--text-color);
}

.btn-sec a {
    border-radius: 1vh;
    padding: 1vh 2vh;
    background-color: var(--main-color);
}

/* Section - Primeira */

.container-descricao {
    text-align: center;
    padding: 10vh 20vh;
}

.container-categoria {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: var(--main-color);
    font-family: 'Inter', sans-serif;
    margin: 0 0 1vh 0;
}

.container-titulo {
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    color: var(--title-color);
    font-family: 'Inter', sans-serif;
    margin: 0 0 2vh 0;
}

.container-paragrafo {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
}